@model IEnumerable<DoctorAppointment.Models.Prescription>
@{
    ViewData["Title"] = "Prescriptions";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="page-wrapper">
    <div class="content container-fluid">


        <div class="page-header">
            <div class="row">
                <div class="col-sm-7 col-auto">
                    <h3 class="page-title">Prescriptions</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a>Dashboard</a></li>
                        <li class="breadcrumb-item active">Prescriptions</li>
                    </ul>
                </div>
                
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="datatable table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Name</td>

                                           <td>@item.PrescriptionDate.ToString("M/d/yyyy")</td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
