@model DoctorAppointment.DTO.UpdatePasswordDTO
@{
    ViewData["Title"] = "UpdatePassword";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

<div class="col-md-7 col-lg-8 col-xl-9">
    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a >Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                        </ol>
                    </nav>
                    <h2 class="breadcrumb-title">Change Password</h2>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col-md-12 col-lg-6">

                    <!-- Change Password Form -->
                    <form asp-action="UpdatePassword" method="post">
                        <div class="text-danger" asp-validation-summary="ModelOnly">

                        </div>
                        <span class="text-danger" asp-validation-for="OldPassword"></span>
                        <div class="form-group">
                            <label>Old Password</label>
                            <input type="password" class="form-control" asp-for="OldPassword">
                        </div>
                        <span class="text-danger" asp-validation-for="Password"></span>
                        <div class="form-group">

                            <label>New Password</label>
                            <input type="password" class="form-control" asp-for="Password">
                        </div>
                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" asp-for="ConfirmPassword">
                        </div>
                        <div class="submit-section">
                            <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
                        </div>
                    </form>


                </div>
            </div>


        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}